{% extends "template.html" %}
{% block title %} Collections {% endblock %}

{% block content %}
    <b><center><h1>COLLECTIONS</h1></center></b>
    <br>
    <br>
    <center><h4> Collection #1</h4></center>
    <br>
    <div class="zoomin">
        <center><img src="https://assets.rebelmouse.io/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpbWFnZSI6Imh0dHBzOi8vYXNzZXRzLnJibC5tcy8xNDI1NzIzNy9vcmlnaW4ucG5nIiwiZXhwaXJlc19hdCI6MTYzMTgzODAzOH0.cHinzWjuyRlt1evb7mTbLGrnawD0O5L5lB9WBVWA1MA/img.png?width=980" width="325" height="350"></center>
        <center><button type="button" class="morebutton" onclick="alert('This collection includes the following books: Fallen Kingdom Series  Genre: Fantasty')">More Info</button></center>
        <center><button type="button" class="addbutton">Add Book + </button></center>
        <center><button type="button" class="newbutton">Create New Collection </button></center>
        <br><center><h6 onclick="this.innerHTML='Stereotypical Fantasy Playlist - playlist by ejwaxer | Spotify'">Click on this text to generate this collection's personalized playlist via Spotify!</h6><center>
    </div>
{% endblock %}
