{% extends "template.html" %}
{% block title %} Add Books {% endblock %}

{% block content %}
    <!-- <h1>Welcome to ReadHot's temporary search page!</h1> -->
    <p>Enter something to search! <a href = '/library_search'>clear this page</a></p>
    <form method="post" action="/library_search">
        <input type="text" name="bookchoice" placeholder="Search books"/>
        <input type="submit" value="Submit"/>
    </form>

    {% if books %}
      {% for i in books %}
          <div class="media my-5">
            <img class="mr-3 smallcover" src = "{{i.volumeInfo.imageLinks.thumbnail}}" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0">{{i.volumeInfo.title}} by
                    {{i.volumeInfo.authors[0]}}</h5>
                {{i.volumeInfo.description}}
                <br>
                <form action="/add_book" method="post">
                    <input type="hidden" name="title" value="{{i.volumeInfo.title}}"/>
                    <input type="hidden" name="author" value="{{i.volumeInfo.authors[0]}}"/>
                    <input type="hidden" name="description" value="{{i.volumeInfo.description}}"/>
                    <input type="hidden" name="isbn" value="{{i.volumeInfo.industryIdentifiers.0.identifier}}"/>
                    <input type="hidden" name="coverurl" value="{{i.volumeInfo.imageLinks.thumbnail}}"/>
                    <button class="btn btn-primary" type="submit" >Add (may require a teeny bit of patience)</button>
                    <!-- <button class="btn btn-primary" type="submit" name="playlistid" value="0zjGLygoBmpafEsGtk5n1a">Add (Fake)</button> -->
                </form>
            </div>
          </div>
      {% endfor %}
    {% endif %}


{% endblock %}
