<html>
    <head>
        <title>Welcome!</title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />
    </head>
    <body>
        <h1>Welcome to ReadHot's temporary search page!</h1>
        <p>Enter something to search! <a href = '/library_search'>clear</a></p>
        <form method="post" action="/library_search">
            <input type="text" name="bookchoice" placeholder="Search books"/>
            <input type="submit" value="Submit"/>
        </form>
        {% if books %}
          {% for i in books %}
            <b>{{i.title}}</b><br>
            <img src = "http://covers.openlibrary.org/b/isbn/{{i.isbn.0}}-M.jpg"> <br>
            <div>subjects:</div>
            {% for s in i.subject %}
              <div>&emsp; {{s}}</div>
            {% endfor %}
          {% endfor %}
        {% endif %}
    </body>
</html>
