{% extends "template.html" %}
{% block title %} Add Books {% endblock %}

{% block content %}
    <!-- <h1>Welcome to ReadHot's temporary search page!</h1> -->
    <!-- <p>Enter something to search! <a href = '/library_search'>clear this page</a></p> -->
    <div class = "py-2 pinktext">Disclaimer: some books won't have enough information to generate a perfect playlist. blame google books and open library :(<br>
    Also, depending on the book, playlist generation may take some time! We thank you for your patience.</div>
    <div class="py-4">
      <form method="post" action="/library_search" class="form-inline">
          <input type="text" class="form-control mb-2 mr-sm-2" name="bookchoice" placeholder="Search for a book"/>
          <button type="submit" value="Submit" class="btn btn-danger mb-2">Submit</button>
      </form>
    </div>
    <!-- <form class="form-inline">
        <label class="sr-only" for="inlineFormInputName2">Name</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Jane Doe">

        <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
            <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username">
        </div>

        <div class="form-check mb-2 mr-sm-2">
            <input class="form-check-input" type="checkbox" id="inlineFormCheck">
            <label class="form-check-label" for="inlineFormCheck">
            Remember me
            </label>
        </div>

        <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form> -->

    {% if books %}
      {% for i in books %}
          <div class="media my-5">
            <img class="mr-3 smallcover" src = "{{i.volumeInfo.imageLinks.thumbnail}}" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0">{{i.volumeInfo.title}} by
                    {{i.volumeInfo.authors[0]}}</h5>
                {{i.volumeInfo.description}}
                <br>
                <form action="/add_book" method="post">
                    <input type="hidden" name="title" value="{{i.volumeInfo.title}}"/>
                    <input type="hidden" name="author" value="{{i.volumeInfo.authors[0]}}"/>
                    <input type="hidden" name="description" value="{{i.volumeInfo.description}}"/>
                    <input type="hidden" name="isbn" value="{{i.volumeInfo.industryIdentifiers.0.identifier}}"/>
                    <input type="hidden" name="coverurl" value="{{i.volumeInfo.imageLinks.thumbnail}}"/>
                    <button class="btn btn-primary" type="submit">Add</button>
                    <!-- <button class="btn btn-primary" type="submit" name="playlistid" value="0zjGLygoBmpafEsGtk5n1a">Add (Fake)</button> -->
                </form>
            </div>
          </div>
      {% endfor %}
    {% endif %}


{% endblock %}
