{% extends "template.html" %}
{% block title %} Library {% endblock %}

{% block content %}
    <div class="main">
        <b><center><h1>LIBRARY</h1></center></b>
        <center><h3> Here in your library you can hover each book for a brief description & click each one for a demo playlist</h3></center>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5">
            <div class="col my-4">
              <div class="card" style="width: 18rem;">
                 <a href= "https://open.spotify.com/playlist/0zjGLygoBmpafEsGtk5n1a"><img src="https://www.amazon.com/images/I/51jNORv6nQL._SX340_BO1,204,203,200_.jpg" class="card-img-top even-height" alt="..."></a>
                <div class="card-body">
                  <h6 class="card-text">Harry Potter, a young wizard who discovers his magical heritage on his eleventh birthday, when he receives a letter of acceptance to Hogwarts School of Witchcraft and Wizardry.</h6>
                </div>
              </div>
            </div>
            <div class="col my-4">
              <div class="card" style="width: 18rem;">
                <img src="https://prodimage.images-bn.com/pimages/9781534438378_p0_v4_s600x595.jpg" class="card-img-top even-height" alt="...">
                <div class="card-body">
                  <h6 class="card-text">Lara Jean keeps her love letters in a hatbox her mother gave her. One for every boy she’s ever loved. When she writes, she can pour out her heart and soul and say all the things she would never say in real life, because her letters are for her eyes only. Until the day her secret letters are mailed, and suddenly Lara Jean’s love life goes from imaginary to out of control. </h6>
                </div>
              </div>
            </div>
            <div class="col my-4">
              <div class="card" style="width: 18rem;">
                <a href = "https://open.spotify.com/album/7Ae2JYIXnbn5wr2k9rQCOi"><img src="https://upload.wikimedia.org/wikipedia/en/6/62/Silence3.png" class="card-img-top even-height" alt="..."></a>
                <div class="card-body">
                  <h6 class="card-text">As part of the search for a serial murderer nicknames "Buffalo Bill," FBI trainee Clarice Starling is given an assignment. She must visit a man confined to a high-security facility for the criminally insane and interview him. That man, Dr. Hannibal Lecter, is a former psychiatrist with unusual tastes and an intense curiosity about the darker corners of the mind. </h6>
                </div>
              </div>
            </div>
            <div class="col my-4">
              <div class="card" style="width: 18rem;">
                 <a href ="https://open.spotify.com/album/7bXOViTvx6EHXuYFuI2yfj"><img src="https://prodimage.images-bn.com/pimages/9780142424179_p0_v1_s600x595.jpg" class="card-img-top even-height" alt="..."></a>
                <div class="card-body">
                  <h6 class="card-text">Despite the tumor-shrinking medical miracle that has bought her a few years, Hazel has never been anything but terminal, her final chapter inscribed upon diagnosis. But when a gorgeous plot twist named Augustus Waters suddenly appears at Cancer Kid Support Group, Hazel’s story is about to be completely rewritten.</h6>
                </div>
              </div>
            </div>
            <div class="col my-4">
              <div class="card"style="width: 18rem;">
                <a href="https://open.spotify.com/playlist/37i9dQZF1DWUVpAXiEPK8P?si=FbhbNR9STwOrpCjnxBgTDQ"><img src="https://upload.wikimedia.org/wikipedia/en/4/45/Life_of_Pi_cover.png" class="card-img-top even-height" alt="..."></a>
                <div class="card-body">
                  <h6 class="card-text">The protagonist, Piscine Molitor "Pi" Patel, a Tamil boy from Pondicherry, explores issues of spirituality and practicality from an early age. He survives 227 days after a shipwreck while stranded on a boat in the Pacific Ocean with a Bengal tiger named Richard Parker.</h6>
                </div>
              </div>
            </div>
            <div class="col my-4">
              <div class="card" style="width: 18rem;">
                <a href = "https://open.spotify.com/playlist/37i9dQZF1DXdgz8ZB7c2CP?si=uRHG2t64TACAjF1jf-XWOA"><img src="https://upload.wikimedia.org/wikipedia/en/1/13/Milk_and_Honey_%28poetry_collection%29.jpg" class="card-img-top even-height" alt="..."></a>
                <div class="card-body">
                  <h6 class="card-text">The book is divided into four chapters, and each chapter serves a different purpose. Deals with a different pain. Heals a different heartache. Milk and Honey takes readers through a journey of the most bitter moments in life and finds sweetness in them because there is sweetness everywhere if you are just willing to look.</h6>
                </div>
              </div>
            </div>
            <div class="col my-4">
              <div class="card" style="width: 18rem;">
                <a href =https://open.spotify.com/playlist/4RR2fVanqsLko09Ejylfnm><img src= "https://agathachristie.imgix.net/hcuk-paperback/And-Then-There-Were-None.JPG?auto=compress,format&fit=clip&q=65&w=200" class="card-img-top even-height" alt="..."></a>
                <div class="card-body">
                  <h6 class="card-text">The story follows 10 strangers who receive an unusual invitation to a solitary mansion based remotely off Britain's Devon Coast. Cut off from the outside world, the group arrives at its destination, only to find that darkness awaits them. As people start to mysteriously die, the members of the group realize there is a killer among them.</h6>
                </div>
              </div>
            </div>
            <div class="col my-4">
              <div class="card" style="width: 18rem;">
                 <a href="https://open.spotify.com/playlist/37i9dQZF1DX91oIci4su1D?si=eBr-pb52QN2-kv8GH4X8Cg"><img src="https://covers.openlibrary.org/b/id/8473692-L.jpg"class="card-img-top even-height" alt="..."></a>
                <div class="card-body">
                  <h6 class="card-text">Set at an unspecified date in Earth's future, an imperiled humankind after two conflicts with the Formics, an insectoid alien species dubbed the "buggers". In preparation for an anticipated third invasion, children, including Andrew "Ender" Wiggin, are trained from a very young age by putting them through increasingly difficult games, including some in zero gravity.</h6>
                </div>
              </div>
            </div>
            <div class="col my-4">
              <div class="card" style="width: 18rem;">
                <a href = "https://open.spotify.com/playlist/37i9dQZF1DWZUAeYvs88zc"><img src="https://www.amazon.com/images/I/516IbJ592JL._SY346_.jpg" class="card-img-top even-height" alt="..."></a>
                <div class="card-body">
                  <h6 class="card-text">Compassionate, dramatic, and deeply moving, To Kill A Mockingbird takes readers to the roots of human behavior - to innocence and experience, kindness and cruelty, love and hatred, humor and pathos.</h6>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
