<!doctype html>
<html lang="en">

    <head>
        <link rel="shortcut icon" type="image/x-icon" href="static/img/headphones.ico" />
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link href='https://fonts.googleapis.com/css?family=Krona One' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Bebas Neue' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/css/style.css?q={{ time }}">

        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #c7585c;">
          	<a class="navbar-brand" href="#" style="font-family: 'Audiowide', cursive; font-size: 40px">ReadHot <i class="fa fa-book"></i></a>
          	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <!-- <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                      Welcome, Bernard!
                </ul> -->
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <!-- <li class="nav-item active">
                        <a class="nav-link" href="login-page">Welcome, Homie! Login</a>
                        <a class="btn btn-light" href="/login-page" role="button">Log out</a>
                    </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class='fas fa-user mx-1'></i>
                            Alison
                        <!-- should take in username -->
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Profile</a>
                        <!-- <a class="dropdown-item" href="#">Logout</a> -->
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/login-page">Log out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
          <div class="container-fluid">
              <div class="row">
                  <div class="col-3 position-fixed" id="sticky-sidebar">
                      <div class = "snav">
                            <a href="/library">
                                <i class="fa fa-book mx-1"></i>
                                Library
                            </a>
                            <!-- <a href="/collections">Collections<i class='far fa-bookmark'></i></a> -->
                            <a href="/playlists">
                                <i class="fab fa-spotify mx-1"></i>
                                Generate Playlists
                            </a>
                            <!-- <a href="/playlists">Generate Playlists<i class='fab fa-spotify' style='font-size:24px'></i></a> -->
                            <a href="/library_search">
                                <i class="fa fa-search mx-1"></i>
                                Add Book
                            </a>
                            {% if playlistid %}
                              <iframe src="https://open.spotify.com/embed/playlist/{{playlistid}}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                            {% endif %}
                            <!-- <a href="/library_search">Add Book<i class="fa fa-search"></i></a> -->
                            <!-- <a href="/indexexplore">Explore (tbc)<i class="fa fa-search"></i></a> -->
                            <!-- <a href="/indexprofile">Profile<i class='fas fa-user'></i></a> -->
                      </div>
                  </div>
                  <div class="col-9 offset-3" id="main">
                      {% block content %}
                      {% endblock %}
                </div>
            </div>
        </div>
        <button onclick="topFunction()" id="myBtn" title="Top">↑Back to The Top</button>
        <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
          } else {
            mybutton.style.display = "none";
          }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0; // For Safari
          document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
        </script>
        <script src="script.js"></script>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>
